@import url('https://fonts.googleapis.com/css2?family=Hanuman:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
* {
    padding: 0;
    margin: 0;
    padding: 0;
}
body {
    font-family: "Roboto" , "Hanuman" , serif!important;
}

.register-page {
    background-image: url(../chhorng/img/pexel-leaf.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.signin-page {
    background-image: url(../chhorng/img/s-lake.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
.forgetpwd-area {
    background-image: url(../chhorng/img/field.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
.newpassword-area {
    background-image: url(../chhorng/img/grass.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
.pin-page {
    background-color: #92e3a996;
}

/* placeholder  */

/* Change placeholder color */
.login-area input::placeholder {
    color: gray !important;
    opacity: 1;
}

.login-area input:focus {
    outline: none;
    border: 1px solid #4A90E2;
    box-shadow: 0 0 8px rgba(74, 144, 226, 0.6);
    transition: 0.3s ease;
}

.login-area .bg-black {
    background-color: rgba(0, 0, 0, 0.885) !important;
}

.login-area .bg-dark {
    background-color: rgba(0, 0, 0, 0.55) !important;
}


/* sigin  */

.signin-area .icon {
    width: 35px;
    height: 35px;
    padding: 6px;
}

.signin-area .icon:hover {
    background-color: rgba(0, 0, 255, 0.475);
}

.signin-area .bg-light {
    background-color: #ffffffea !important;
}

/* change focus  */
.signin-area .form-control:focus {
    box-shadow: 0 0 0 0.25rem rgba(13, 253, 133, 0.25) !important;
}

/* forgetpwd-area */
.forgetpwd-area .form-control:focus {
    box-shadow: 0 0 0 0.25rem rgba(13, 253, 133, 0.25) !important;
}
/* pin page  */
.pin-page .form-control:focus {
    box-shadow: 0 0 0 0.25rem rgba(13, 253, 133, 0.25) !important;
}

/* newpwd  */
.newpwd-page .bg-light {
    background-color: #ffffffe2!important;
}

/* aboutpage  */

.about-area .card-member {
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgb(0, 0, 0, 0.2);
    position: relative;
    overflow: hidden;
}

.about-area .card-member .card-title {
    width: 100%;
    height: 70px;
    background-color: rgba(0, 0, 0, 0.478);
    color: white;
    padding: 14px 5px;
    text-align: center;
    position: absolute;
    bottom: -32px;
    backdrop-filter: blur(5px);
    transition: 0.9s;
    left: 0;
}

.about-area .card-member:hover .card-title {
    bottom: -8px;
}

.about-area .card-member .btn-group {
    width: 60px;
    height: 70%;
    background-color: rgba(0, 0, 0, 0.482);
    position: absolute;
    top: 0px;
    right: -60px;
    border-radius: 5px 0px 0px 5px;
    display: flex;
    flex-wrap: wrap;
    backdrop-filter: blur(5px);
    transition: 0.7s;
}

.about-area .img-icon {
    width: 30px;
    height: 30px;

}

.about-area .nav-link {
    text-decoration: none;
    color: white;
    display: block;
    margin-top: 20px;
    text-align: center;
    padding-left: 16px;
}

.about-area .card-member:hover .btn-group {
    right: 0px;
}