@import url('https://fonts.googleapis.com/css2?family=Hanuman:wght@100..900&family=Kantumruy+Pro:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.fs-kp {
  font-family: 'Kantumruy Pro', sans-serif;
  font-optical-sizing: auto;
}
.fs-rb {
  font-family: 'Roboto', sans-serif;
  font-optical-sizing: auto;
}

.product-card {
  transition: all 0.3s ease;
}
.product-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 20px rgba(32, 32, 32, 0.2);
}

.btn-addcart{
  transition: all 0.3s ease;
}
.btn-addcart:hover{
  background-color: #fff;
  border: 2px solid green;
  color: #000;
  color: green;
}
/* style an9mation h1  */
.typing-loop {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    width: 0;
    animation:
      typingLoop 6s steps(40, end) infinite,
      blink .75s step-end infinite;
  }
  @keyframes typingLoop {
    0% {
      width: 0
    }
    40% {
      width: 100%
    }
    60% {
      width: 100%
    }
    100% {
      width: 0
    }

  }

  @keyframes blink {
    50% {
      border-color: transparent
    }
  }
/* end */

/* animation shows toast */
.animate-toast.showing {
  animation: slideInRight 0.6s forwards;
}
.animate-toast.hide {
  animation: slideOutRight 0.6s forwards;
}
@keyframes slideInRight {
  from {
    transform: translateX(120%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideOutRight {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(120%);
    opacity: 0;
  }
}
/* end  */

